@media only screen and (min-width: 40.063em) {
  #main-wrapper {
    margin: 0;
    max-width: 70em; }

  #left-col {
    position: fixed;
    font-size: 2em;
    color: #373535;
    height: 100%;
    width: 300px;
    padding: 0;
    border-right: 4px solid #427EC3;
    z-index: 100;
    background: white; }
    #left-col #header {
      padding: 0 15px;
      margin: 0 15px;
      background: white; }
      #left-col #header h1 {
        font-size: 1.4em;
        font-family: "Playfair Display";
        font-style: italic;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1.5px; }
    #left-col #player {
      position: relative;
      top: -45px;
      z-index: -100; }
    #left-col #youtube-wrapper {
      width: 100%;
      height: 160px;
      background: #427EC3;
      z-index: -100; }
    #left-col #now-playing {
      background: #231F20;
      color: white;
      width: 85%;
      position: absolute;
      right: 0;
      text-align: left;
      padding: 2px 10px;
      font-size: 0.8em; }
      #left-col #now-playing #now-playing-artist {
        display: block;
        font-size: 0.5em; }
      #left-col #now-playing #now-playing-title {
        display: block;
        font-size: 0.7em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    #left-col #player-controls {
      position: absolute;
      top: 210px;
      background: #427EC3;
      display: inline-block;
      right: 0;
      font-size: 0.8em;
      color: white;
      padding: 0 5px; }
      #left-col #player-controls span {
        padding: 0 10px; }

  #mixtape-artwork {
    background-image: url("../img/endofyear2014.jpg"); }

  .heading {
    display: block;
    color: #163157;
    font-size: 2.7em;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 600;
    margin-top: 25px;
    line-height: 1.2; }

  #right-col {
    padding-left: 300px; }

  .mix {
    padding-left: 0;
    height: 320px;
    background: #d0d0d0 url("../img/bluebar.jpg") no-repeat;
    background-size: auto 320px; }
    .mix #bluebar {
      position: relative;
      height: 320px; }
    .mix #play-now {
      width: 170px;
      position: absolute;
      left: 270px;
      top: 190px; }
    .mix .mix-title {
      margin-top: 10px;
      padding-left: 75px;
      line-height: 1.2; }
      .mix .mix-title span {
        display: block;
        color: #163157;
        font-size: 1.5em;
        text-transform: uppercase; }
      .mix .mix-title span#title {
        font-weight: bold; }
      .mix .mix-title img#mixtape-artwork {
        height: 180px;
        position: absolute;
        bottom: 0; }

  .mixtape {
    font-family: "Playfair Display";
    font-size: 1.25em; }
    .mixtape #play-now-button {
      width: 200px;
      display: block; }

  .songs {
    padding-top: 20px; }
    .songs .song-listing {
      display: inline-block;
      margin-bottom: 30px; }
      .songs .song-listing:last-child {
        float: none; }
      .songs .song-listing #mixtape-artwork {
        width: 320px;
        height: 320px; }
      .songs .song-listing .artwork {
        height: 185px;
        width: 185px;
        background-size: cover;
        margin: auto; }
        .songs .song-listing .artwork .contributor-image {
          width: 50%;
          height: 100%;
          border-right: 2px solid #e5e5e5;
          background-size: cover;
          background-position: 50%; }
      .songs .song-listing .contributor-name {
        background: #230F20;
        width: 185px;
        color: white;
        padding: 5px 5px;
        font-weight: 100;
        margin: auto; }
      .songs .song-listing .title {
        padding-top: 5px; }
      .songs .song-listing .artist {
        font-size: 0.9em;
        color: #A9A9A9; }

  .song-details {
    position: fixed;
    padding-top: 15px;
    font-family: "Roboto";
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: yellow;
    z-index: 101; }
    .song-details span.heading {
      margin-bottom: 0;
      margin-top: 15px; }
    .song-details .details-song-title {
      font-size: 2em;
      display: block; }
    .song-details .details-song-artist {
      font-size: 1.5em;
      font-style: italic;
      font-weight: 100;
      display: block; }
    .song-details .details-play-song {
      width: 150px;
      position: relative;
      left: -15px;
      top: 10px; }
    .song-details #close-details {
      background: #524e4e;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: -30px; }

  .active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(205, 200, 200, 0.5);
    z-index: 100; }

  #footer {
    padding-left: 300px; } }
@media only screen and (min-width: 64.063em) {
  #left-col {
    width: 350px; }

  #right-col {
    padding-left: 350px; }

  .mixtape #play-now-button {
    width: 200px;
    margin-top: 30px;
    display: block; }

  .songs .song-listing:last-child {
    float: right; }
  .songs .song-listing .artwork {
    width: 200px;
    height: 200px; }
  .songs .song-listing .contributor-name {
    width: 200px; }

  .contributor-name {
    width: 200px; }

  #footer {
    padding-left: 350px; } }
#footer {
  background: #163157;
  width: 100%;
  height: 150px;
  color: white;
  text-align: center;
  font-family: "Playfair DIsplay";
  font-size: 2em;
  font-style: italic;
  padding-left: 350px; }

/*# sourceMappingURL=app.css.map */
